################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework_1-2/.vs/Homework_1-2/v16/Browse.VC.opendb
